.education{
  background-color: var(--mainGrey) ;
  padding-bottom: 50px;
  
  }
.dateOfEducation{
  color: var(--mainGreen);
  font-weight: 600;
  }
  .eduCardElement{
    padding-bottom: 10px;
  }
  .cardSkill{
  margin-bottom: 10px;
  margin-right: 10px;
 }
/* services */
.service{
  background-color: var(--mainGreen);
  padding-bottom: 40px;
}
.iconService{
  width: 50px;
  height: 50px;
  margin: auto;
}

.service h4{
    font-family: 'Raleway',sans-serif;
    color: #333;
    padding: 8px 0 7px;
    
}
p{
   color: #333;
   font-size: 13px;
}
@media (max-width: 1199px){
   
}

/*  md 768px - 991px  */
@media (max-width: 991px){

}

/*  sm 576px - 767px  */
@media (max-width: 767px){

}


/*  EXsm 320px - 575px  */
@media (max-width: 575px){
    #fname,#lname{
      width: 256px;
      height: 18px ;
    }
    #subject{
      width: 256px;
      height: 100px;
    }
  
}