:root {
  --mainGreen: #fec608;
  --mainGrey: #efefef;
}
.service-item{
    text-align: center;
}
.singleService a h4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-item i {
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    background: #efefef;
    border: 2px solid #222;
    color: #222;
    transition: all 400ms linear 0s;
    }
.service-item .fa {
    display: inline-block;
    font: normal normal normal 20px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    widows: 62px;
    height: 62px ;
    padding: 22px;
    }
.fa-wordpress:before {
    content: "\f19a";
}
.service-item:hover i {
    background: #222;
    border-color: #efefef;
    color: #fff
} 
