*{
    box-sizing: border-box;
}

.portfolio{
  background-color: var(--mainGrey);
}
.webPageLink:hover .buttonLearn {
    background: #fec608
}

.portfolio_item:hover .portfolio_title h4 {
    color: #fff
}
.portfolio_item:hover .portfolio_title h5 {
    color: #fff
}


