
:root {
  --mainGreen: #fec608;
  --mainGrey: #efefef;
} 
.burger{
  display: none;
}
 #nav{
   background-color: var(--mainGreen);
   max-width: 100%;
   height: 80px;
   padding-top: 22px;
 }
 .nav{
   background-color: var(--mainGreen);
   
 }
 .nav-logo {
  font-weight: 700;
  font-size: 24px;
  margin: 0px;
  padding: 0px;
}
 .nav li:last-child {
  margin-right: 0px;
}
 .nav-logo:hover {
  cursor: pointer;
  color: white;
}
.nav-item{
  display: inline;
  margin-left: 2rem;
  color: black;
}
.nav-item:hover {
  color: white;
  cursor: pointer;
  transition: 500ms;
}
.section-content {
  margin: 0 auto;
  
}
.main_title {
    text-align: center;
    padding: 60px 0px;
}
.main_title h2 {
    font-size: 36px;
    font-weight: 700;
    color: #222222;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #222222;
    display: inline-block;
    line-height: 58px;
    padding: 0px 23px;
}

/* footer */
.footerInner{
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 80px 0px 60px 0px;
    margin-top: -30px;
}

.socialIcon{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.social-icon_footer li:first-child a{
  background: #677fb5;
  color: #fff;
  border-color: #677fb5;
}
.social-icon_footer li:nth-child(9) a{
  background: #677fb5;
  color: #fff;
  border-color: #677fb5;
}
.social-icon_footer li {
    display: inline-block;
    margin-right: 30px;
}
.social-icon_footer li a {
    height: 38px;
    width: 38px;
    margin-top: 15px;
    text-align: center;
    border: 1px solid #000000;
    display: block;
    line-height: 40px;
    font-size: 18px;
    border-radius: 5px;
    transition: all 400ms linear 0s;
    color: #677fb5;
}
.social-icon_footer li:nth-child(2) a {
  color: #efefef;
  background-color:#70c2e9 ;
  border-color: #70c2e9;
}

.social-icon_footer li:nth-child(3) a {
  color: #efefef;
  background-color:#895a4d ;
  border-color: #895a4d;
}


.social-icon_footer li:nth-child(4) a {
  color: #efefef;
  background-color:#d34836;
  border-color: #d34836;
}


.social-icon_footer li:nth-child(5) a {
  color: #efefef;
  background-color:#007ab9;
  border-color: #007ab9;
}

.social-icon_footer li:nth-child(6) a {
  color: #efefef;
  background-color:#d8545d;
  border-color: #d8545d;
}


.social-icon_footer li:nth-child(7) a {
  color: #efefef;
  background-color:#5ecbf3;
  border-color: #5ecbf3;
}


.social-icon_footer li:nth-child(8) a {
  color: #efefef;
  background-color:#ff3ba4;
  border-color: #ff3ba4;
}


.social-icon_footer li:last-child a {
  color: #efefef;
  background-color:#faaa5e;
  border-color: #faaa5e;
  margin-right: 0px;
}

@media (max-width: 1199px){
   
}

/*  md 768px - 991px  */
@media (min-width: 768px){

}

/*  sm 576px - 767px  */
@media (min-width: 576px){

}


/*  EXsm 320px - 575px  */
@media (max-width: 320px){
  #nav{
    display: none;
  }
 
}




